button {
  margin: 10px;
  transition: 0.15s;
  padding: 10px;
  font-family: Roboto;
}
button:hover {
  opacity: 0.8;
  padding: 15px;
}
.sub {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15;
}
.join {
  background-color: white;
  color: rgb(43, 43, 182);
  border-color: rgb(43, 43, 182);
  border-radius: 3px;
  border-style: solid;
  cursor: pointer;
  border-width: 1px;
}
.sub:active {
  background-color: rgb(135, 3, 3);
}
.join:hover {
  background-color: rgb(43, 43, 182);
  color: white;
  opacity: 1;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}
.join:active {
  color: white;
  opacity: 0.8;
}